

<% events.map(function(value){ %>
    <div>
        <div style="display: inline-block; width:20%"> <%= value.start.dateTime %> </div>
        <div style="display:inline-block;width:75%;">
        <p style="font-weight: bolder;"><%= value.summary %></p>
        <p style="font-weight: lighter;"><%= value.description %></p>
    </div>
    </div>
    
<%})%>

<a style="display:block;" href="/logout">Logout</a>